<!DOCTYPE html>
<html lang="hr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Potvrda E-mail adrese</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      color: #333;
      padding: 20px;
    }
    .container {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .header {
      text-align: center;
      padding-bottom: 20px;
    }
    .button {
      display: inline-block;
      padding: 10px 20px;
      margin-top: 20px;
      color: #fff;
      background-color: #58CC02;
      text-decoration: none;
      border-radius: 5px;
    }

    .welcome-title {
      font-weight: bold;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="header">
    <h1>Potvrdite Vaš Email</h1>
  </div>
  <p class="welcome-title">Bok {{name}}!</p>
  <p>Hvala ti na registraciji. Molimo klikni na gumb ispod kako bi potvrdio/la svoju e-mail adresu:</p>
  <a href="{{url}}" class="button">Potvrdi E-mail</a>
</div>
</body>
</html>
